---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-32">
    <div class="container">
      <h2 class="text-gradient mb-16 text-6xl">Education</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <Feature title="Master of Science in Health Systems" icon="ri:health-book-line">
          <p class="text-2xl">Georgia Institute of Technology</p>
          <p class="mt-2">Focus in Predictive Analytics</p>
        </Feature>
        <Feature title="Bachelor of Science in Biomedical Engineering" icon="mdi:cog">
          <p class="text-2xl">Georgia Institute of Technology</p>
          <p class="mt-2">Minor in Industrial Design</p>
        </Feature>
      </div>
    </div>
  </section>
  <section class="mb-32 mt-16">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
      <Counter count="3+" title="Years" sub="Of Work Experience" />
      <Counter count="10+" title="Open Source" sub="Projects Avaialble on GitHub" />
      <Counter count="300+" title="Code Contributions" sub="In The Last Year" />
    </div>
  </section>
</DefaultLayout>
