---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Card } from 'accessible-astro-components'
import PillSection from '../components/PillSection.astro'
import PillBadge from '../components/PillBadge.astro'
---

<DefaultLayout
  title="Projects"
  description="An example of a blog with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Projects</h1>
      <h1 class="text-center">🚧 Currently under construction 🚧</h1>
    </div>
  </section>
  <!-- <section class="my-12">
    <div class="container">
      <ul class="my-3">
        <li>
          <Card url="/projects/project1" title="Project 1" footer="Test Footer">
            <PillSection title="Test">
              {['tag1', 'tag2', 'tag3'].forEach((tag: string) => <PillBadge title={tag} color="red" />)}
            </PillSection>
          </Card>
        </li>
      </ul>
    </div>
  </section> -->
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
