---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Theme for <a href="https://astro.build/">Astro</a> made by <a
          href="https://github.com/markteekman">Mark Teekman</a>, adapted by Andy Stevens.
      </p>
    </div>
  </section>
</footer>
